<div class="box box-primary">
    <div class="box-header widget-header-blue widget-header-flat">
        <!--<h4 class="box-title text-info">Cube Designer</h4>-->
    </div>
    <div class="box-body wizard-wrapper">
     <wizard on-finish="finishedWizard()"> 
        <wz-step title="Cube Info" template="partials/cubeDesigner/info.html">
        </wz-step>
        <wz-step title="Dimensions" template="partials/cubeDesigner/dimensions.html">
        </wz-step>
        <wz-step title="Measures"  template="partials/cubeDesigner/measures.html">
        </wz-step>
        <wz-step title="Filter"  template="partials/cubeDesigner/filter.html">
        </wz-step>
        <wz-step title="Refresh Setting"  template="partials/cubeDesigner/incremental.html">
        </wz-step>
        <wz-step title="Advanced Setting"  template="partials/cubeDesigner/advanced_settings.html">
        </wz-step>
        <wz-step title="Overview"  template="partials/cubeDesigner/overview.html">
        </wz-step>

         <div class="divider"></div>

         <div class="wizard-actions">
             <div class="row">
                 <div class="col-xs-8">
                     <p style="color: #808080;text-align: left;"><b>Note:</b> inputs with <span style="color: lightblue">light blue</span> border are mandatory.</p>
                     <div>
                         <a href="/cubes" class="pull-left"><i class="fa fa-arrow-left"></i> Back to My Cubes</a>
                     </div>
                 </div>
                 <div class="col-xs-4">

                     <input type="submit" tooltip="{{currentStep}}" class="btn btn-prev" wz-previous value="Prev" />

                     <input type="submit" class="btn btn-primary" wz-next value="Next" />

                     <!--<button class="btn btn-primary" ng-click="prepareCube();saveCube(design_form)" ng-disabled="design_form.$invalid"-->
                             <!--ng-if="curStep.title=='Overview' && state.mode=='edit'">-->
                         <!--Save-->
                     <!--</button>-->
                 </div>
             </div>
         </div>
    </wizard>
    </div>
</div>